{% extends "base.html" %} {% block content %}
<main class="container py-5">
  <!--Breadcrumb-->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-2">
      <li class="breadcrumb-item">
        <a href="{{ url_for('main.index') }}">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{{ url_for('main.list_assignments') }}">Assignments</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Edit Assignment
      </li>
    </ol>
  </nav>
  <h1 class="mb-4">Edit Assignment</h1>
  <form method="POST" novalidate>
    {{ form.hidden_tag() }}
    <!--For the name input-->
    <div class="mb-3">
      {{ form.title.label(class="form-label")}} {{
      form.title(class="form-control",size=40) }} {% for err in
      form.title.errors %}
      <div class="text-danger small">{{ err }}</div>
      {% endfor %}
    </div>
    <!--For the description input-->
    <div class="mb-3">
      {{ form.description.label(class="form-label") }} {{
      form.description(class="form-control",rows=5) }} {% for err in
      form.description.errors %}
      <div class="text-danger small">{{ err }}</div>
      {% endfor %}
    </div>
    <!--For the submit button-->
    <div class="mt-3">{{form.submit(class="btn btn-primary")}}</div>
  </form>
</main>
{% endblock %}
