{% extends "base.html" %} {% block content %}
<main class="container py-5">
  <h1 class="mb-4">Welcome to OpenCourse</h1>

  {% if not current_user.is_authenticated %}
  <p class="lead">
    Please <a href="{{ url_for('auth.login') }}">log in</a> or
    <a href="{{ url_for('auth.register') }}">register</a> to start using
    OpenCourse.
  </p>

  <section class="card bg-transparent border-0 mt-4">
    <div class="card-body home-card">
      <h2 class="h4 mb-3 text-white">Why OpenCourse?</h2>
      <p class="text-light">
        OpenCourse is a lightweight LMS where instructors can post assignments
        and materials, and students can access course content. Open Course takes
        away the confusion of typical LMS and simplifies it into one, easy to
        use interface.
      </p>
    </div>
  </section>
  {% else %}
  <p class="lead">
    Welcome {{ current_user.username }}! Visit your
    <a href="{{ url_for('main.dashboard') }}">dashboard</a> to view your
    courses.
  </p>
  <section class="card bg-transparent border-0 mt-4">
    <div class="card-body home-card">
      <h2 class="h4 mb-3 text-white">Quick Start</h2>
      <p class="text-light">
        You’re logged in. Go to dashboard to view classes.
      </p>
    </div>
  </section>
  {% endif %}
</main>
{% endblock %}
