/*Helvectica text in body, purple background, white test*/
body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: purple;
  color: white;
}
/*for nav bar, blueviolet background*/
nav {
  background-color: blueviolet;
  padding: 1rem;
}
/*for the links red text*/

nav a {
  color: red;
  padding: 0 1rem;
}
