/*Helvectica text in body, purple background, white test*/
body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: purple;
  color: white;
  /*footer at bottom*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  flex: 1;
  padding: 2rem 0;
}
/*for nav bar, blueviolet background*/
nav {
  background-color: blueviolet !important;
  padding: 1rem;
}
/*for the links red text*/

nav a {
  margin-right: 0;
  color: black !important;
  padding: 0 0rem;
  text-decoration: none;
  font-weight: 500;
}
/*when hovering over it with moust*/

nav a:hover {
  color: pink !important;
}
/*for the footer*/
footer {
  background-color: blueviolet;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 0;
  font-size: 2rem;
}
/*Bigger spacing for the left side links*/
.navbar-nav:first-of-type .nav-link {
  padding-left: 1.8rem !important;
  padding-right: 1.8rem !important;
}
/*Smaller spacing for login/register*/
.navbar:last-of-type .nav-link {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
/*To keep open course logo to left corner*/
.navbar .container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
